<div class="column">
  <div class="currency-value" id="usd">0</div>
  <div class="muted">USD/RUB</div>
</div>

<div class="column">
  <div class="currency-value" id="eur">0</div>
  <div class="muted">EUR/RUB</div>
</div>

<div class="column">
  <div class="currency-value" id="btc">0</div>
  <div class="muted">BTC/RUB</div>
</div>
